<!doctype html>
<html ng-app="book_app" ng-init="person = {fName: 'Joey', lName:}">
  <head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/angular.min.js"></script>
    <script src="js/myscript.js"></script>
    <title>Books I've Read</title>
  </head>

  <body class="container">
    <br><br><br>
    <form class="col-md-12" ng-controller="bookHandler" ng-submit="addText()">
      <div class="form-group">
        <label for="bookName">Name</label>
        <input ng-model="addBook" type="text" class="form-control"
        id="bookName" placeholder="Wizard of Oz">
      </div>
      <div class="form-group">
        <label for="bookImage">Image</label>
        <input ng-model="addBookImage" type="text" class="form-control"
        id="bookName" placeholder="monkeys.png">
      </div>
      <div class="form-group">
        <label for="bookLink">Hyperlink</label>
        <input ng-model="addBookLink" type="text" class="form-control"
        id="bookName" placeholder="www.google.com/monkeys">
      </div>
      <input type="submit" id="submit"/>
      <br><br>
      <pre>list={{arrayText}}</pre>
    </form>
  </body>

</html>
